# Sprint 1 Day 1 - Data Wrangling

*When you are working on data with Python, it makes sense to always begin by importing these packages.*

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<table><td><img src=''></td><td><img src=''></td><tr><td colspan=2><img src=''></td></table>

***NUMPY*** - "The fundamental package for scientific computing with Python"

***PANDAS*** - "A fast, powerful, flexible and easy to use open source data analysis and manipulation tool"

***Matplotlib*** - "is a comprehensive library for creating static, animated, and interactive visualizations in Python"

## 1. Reading data

In [ ]:
# Read data
df =

*Data obtained from: https://data.humdata.org/dataset/philippines-education-0-0* 

The most common source of simple data is csv or comma-separated values file. Pandas can read other file types as well such as:
- read_excel
- read_sql
- read_json

The read_csv accepts multiple arguments to read the file better by pressing shift+tab.

## 2. Checking the data

### a. Standard checks
How big is our dataset?

In [ ]:
# Check size of dataframe

How does it look like?

In [ ]:
# Check first 5 rows

Is it clean until the end?

In [ ]:
# Check last 5 rows

What other information are available?

In [ ]:
# Check additional info

What are the columns?

In [ ]:
# Check column names

What are the data types?

In [ ]:
# Check data types

### b. Checking for errors

1. Check for missing values

How do we handle missing values?

2. Checking for duplicates

In [ ]:
df["ID"].nunique()

In [ ]:
df[df["ID"].duplicated(keep=False)].sort_values(by="ID")

## 3. Selecting data (Slicing)

### a. Slicing by column name
We can choose a column in a dataframe using the syntax `df["column_name"]` or `df.column_name`

In [ ]:
# Returns series

In [ ]:
# Another way of selecting column

In [ ]:
# Returns dataframe

To select more than one column, pass a list of column names.

In [ ]:
df[["School", "ID"]]

### b. Slicing by position

To obtain a subset of the dataframe using the position of rows or column, use `.iloc`

In [ ]:
df.iloc[:10]

In [ ]:
df.iloc[:, :3]

In [ ]:
df.iloc[:4, :5] # Get index 1 to 3 of the dataframe (start inclusive, end exclusive)

#### Practice: Get the first 50 rows and the until Total_Inst column

In [ ]:
# Insert code

### c. Slicing by index name

If you don't know the position by know the index you are looking for, you can use `.loc`.

In [ ]:
df.loc[10]

In [ ]:
df.loc[:10, :'School']

## 4. Filtering

Filtering allows you to select parts of the dataframe based on cell values.

In [ ]:
df["Region"] == "NCR"

In [ ]:
# Returns all rows that is TRUE

You can use `&` and `|` to add more conditions

In [ ]:
df[(df["Region"] == "NCR") & (df["Color_Code"] == "Blue")]

#### Practice: Get all schools that are Black color coded or have 0 teachers

In [ ]:
# Insert code

You can also use string methods such as `contains` to find items

In [ ]:
# Applies boolean to all rows
df[df["Municipali"].str.contains("CITY")]

#### Practice: Get all schools that have ES in its name

In [ ]:
# Insert code

#### Practice: Get all schools that have ES in its name in NCR

In [ ]:
# Insert code

#### Practice: Get all schools that has greater than 2000 enrollees or is a Mother school

In [ ]:
# Insert code

## 5.   Grouping and Aggregation

Grouping and aggregation are critical components of data analysis which involve:

- **Splitting** data into groups based on some features.
- **Applying** a function to each group independently.
- **Combining** the result into data structure.

#### a. Value counts
- specifies the number of entries per item in the column

In [ ]:
# Get number of entries

- we can sort the results using `sort_values`

In [ ]:
# Get number of entries sorted in ascending order

- to sort in descending order, just add `ascending=False` as argument

In [ ]:
# Get number of entries sorted in descending order

#### b. Groupby

- `.size` returns the count of rows
- It can also accept multiple columns

In [ ]:
df.groupby(["Region"]).size()

How many schools per color for each region?

In [ ]:
df.groupby(["Region", "Color_Code"]).size()

We can apply another column in brackets after groupby to indicate which column to aggregate.

In [ ]:
df.groupby("Region")["Total_Enro"].sum()

#### Practice: Group the sum of count of teachers based on color code

In [ ]:
# Insert code here

We can have multiple columns to aggregate. These columns can either be aggregated with the same function or with different functions.

In [ ]:
df.groupby(["Region"])[["Total_Enro", "Total_Inst"]].sum()

Now that we have two coloumns, if we wish to sort them, we need to add `by` as an argument in sort_values

In [ ]:
df.groupby(["Region"])[["Total_Enro", "Total_Inst"]].sum().sort_values(by="Total_Enro")

the aggregated funtion uses the syntax: 
`.agg(new_column_name=(old_column_name, function))`

In [ ]:
df.groupby(["Region"])[["Total_Enro", "Total_Inst"]].agg(Enrolled=("Total_Enro", sum), Teacher=("Total_Inst", max))

## Exercise

Answer the following:

1. Which division has the most number of schools?

In [ ]:
# Insert code here

2. Which school has the fewest number of enrolles and which province does this school belong to?

In [ ]:
# Insert code here

3. Among the schools in ARMM, which municipality has the fewest total number of teachers?

In [ ]:
# Insert code here