# GROUP ACTIVITY

In this activity, there all 12 questions prepared with varying levels of difficulty. Your task is to answer as many as you can AS A GROUP. Each question is independent of one another. Delegate and strategize on how you will answer the most number of questions. **Good luck! :)**

#### First, setup the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
schools = pd.read_csv("schools_combined.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
schools.head()

,Unnamed: 0,region,province,municipality,division,school_id,school_name,year_level,gender,enrollment,latitude,longitude,ID,Total_Inst,Rooms_used,Rooms_unused,Type_of_Sc
0,0,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 1,male,41,18.25096389,120.6089583,100002,16,12.0,0.0,School with no Annexes
1,1,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 1,female,30,18.25096389,120.6089583,100002,16,12.0,0.0,School with no Annexes
2,2,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 2,male,37,18.25096389,120.6089583,100002,16,12.0,0.0,School with no Annexes
3,3,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 2,female,38,18.25096389,120.6089583,100002,16,12.0,0.0,School with no Annexes
4,4,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 3,male,41,18.25096389,120.6089583,100002,16,12.0,0.0,School with no Annexes

#### Before proceeding with the questions, check first with your groupmates if you all have the correct dataframe.

1. What is the size of the dataframe?

In [4]:
schools.shape

(159744, 17)

2. What are the columns?

In [5]:
schools.columns

Index(['Unnamed: 0', 'region', 'province', 'municipality', 'division',
       'school_id', 'school_name', 'year_level', 'gender', 'enrollment',
       'latitude', 'longitude', 'ID', 'Total_Inst', 'Rooms_used',
       'Rooms_unused', 'Type_of_Sc'],
      dtype='object')

3. How many schools are there?

In [6]:
schools.school_id.nunique()

14003

4. How many missing values are there?

In [7]:
schools.isna().sum()

Unnamed: 0       0
region           0
province         0
municipality     0
division         0
school_id        0
school_name      0
year_level       0
gender           0
enrollment       0
latitude         0
longitude        0
ID               0
Total_Inst       0
Rooms_used      12
Rooms_unused    12
Type_of_Sc       0
dtype: int64

Alright! Get started!

## Exercise

***Easy***

1. Which has a greater number of overall enrollees: males or females? (use `enrollment` column)

Insert markdown final answer:

In [8]:
#Insert code here

2. How many municiapalities are covered by the dataframe?

Insert markdown final answer:

In [9]:
#Insert code here

3. Which year_level has the highest number of enrollees? (use `enrollment` column)

Insert markdown final answer:

In [10]:
#Insert code here

4. Are the school_id equal to school_name? What is the discrepancy?

Insert markdown final answer:

In [11]:
#Insert code here

5. How many teachers are there overall?

Insert markdown final answer:

In [12]:
#Insert code here

***Medium***

6. Which province has the highest count of schools? How many is it?

Insert markdown final answer:

In [13]:
#Insert code here

7. How many provinces only has one school? Which provinces are these?

Insert markdown final answer:

In [14]:
#Insert code here

8. How many municipalities are there in ARMM?

Insert markdown final answer:

In [15]:
#Insert code here

9. Which school has the most number of rooms (used + unused)?

Insert markdown final answer:

In [16]:
#Insert code here

10. Within the schools in Central Visayas, how many female enrollees do they have all in all? (use `enrollment` column)

Insert markdown final answer:

In [17]:
#Insert code here

***Hard***

11. How many secondary students are there overall? (use `enrollment` column)

Insert markdown final answer:

In [18]:
#Insert code here

12. Which school_id has the highest teacher-student ratio?

Insert markdown final answer:

In [19]:
#Insert code here